<%= simple_form_for(@diagnostic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :description %>
    <%= f.input :fee %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
