<h1>Listing diagnostics</h1>


<% if current_user.admin? || current_user.employee?%>
    <div class="row">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
          <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr class="filters">
            <th><input type="text-center" class="form-control" placeholder="Code" disabled></th>
            <th><input type="text-center" class="form-control" placeholder="Description" disabled></th>
            <th><input type="text-center" class="form-control" placeholder="Fee" disabled></th>
            <th colspan="3"></th>

          </tr>
          </thead>
          <% @diagnostics.each do |diagnostic| %>
              <tbody>
              <tr>
                <td><%= diagnostic.code %></td>
                <td><%= diagnostic.description %></td>
                <td><%= diagnostic.fee %></td>
                <td><%= link_to 'Show', diagnostic %></td>
                <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic) %></td>
                <td><%= link_to 'Destroy', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              </tbody>
          <% end %>
        </table>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('.filterable .btn-filter').click(function(){
            var $panel = $(this).parents('.filterable'),
                    $filters = $panel.find('.filters input'),
                    $tbody = $panel.find('.table tbody');
            if ($filters.prop('disabled') == true) {
                $filters.prop('disabled', false);
                $filters.first().focus();
            } else {
                $filters.val('').prop('disabled', true);
                $tbody.find('.no-result').remove();
                $tbody.find('tr').show();
            }
        });

        $('.filterable .filters input').keyup(function(e){
            /* Ignore tab key */
            var code = e.keyCode || e.which;
            if (code == '9') return;
            /* Useful DOM data and selectors */
            var $input = $(this),
                    inputContent = $input.val().toLowerCase(),
                    $panel = $input.parents('.filterable'),
                    column = $panel.find('.filters th').index($input.parents('th')),
                    $table = $panel.find('.table'),
                    $rows = $table.find('tbody tr');
            /* Dirtiest filter function ever ;) */
            var $filteredRows = $rows.filter(function(){
                var value = $(this).find('td').eq(column).text().toLowerCase();
                return value.indexOf(inputContent) === -1;
            });
            /* Clean previous no-result if exist */
            $table.find('tbody .no-result').remove();
            /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
            $rows.show();
            $filteredRows.hide();
            /* Prepend no-result row if all rows are filtered */
            if ($filteredRows.length === $rows.length) {
                $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
            }
        });
    });


</script>
<% if current_user.admin? || current_user.employee? %>

    <%= link_to 'New Diagnostic', new_diagnostic_path ,class:"btn btn-primary" ,role:"button" %>
<% end %>
<%= paginate @diagnostics %>