<p id="notice"><%= notice %></p>
<p>
  <strong>name:</strong>
  <%= @employee.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>State:</strong>

  <%=State.where(id: @employee.state_id).pluck(:state).first%>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @employee.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%=  number_to_phone(@employee.phone, area_code: true)   %>
</p>

<p>
  <strong>User:</strong>
  <%= @employee.user_id %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @employee.ssn %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
