
<%= simple_form_for(@physician) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% if current_user.admin? %>
        <%=f.collection_select :user_id, User.all, :name, :name %>
    <% else %>
        <%=f.collection_select :name, User.all.select{|m| m.email == current_user.email}, :name, :name %>
    <% end %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%=f.collection_select :state_id, State.all, :id, :state %>
    <%= f.input :zipcode %>
    <%= f.input :phone %>
    <% if current_user.admin? %>
        <%=f.collection_select :user_id, User.all, :id, :email %>
     <% else %>
    <%=f.collection_select :user_id, User.all.select{|m| m.email == current_user.email}, :id, :email %>
        <% end %>
    <%= f.input :ssn %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
