<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @physician.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @physician.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @physician.city %>
</p>

<p>
  <strong>State:</strong>
  <%=State.where(id: @physician.state_id).pluck(:state).first%>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @physician.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%=  number_to_phone(@physician.phone, area_code: true)   %>
</p>

<p>
  <strong>User:</strong>
  <%= @physician.user_id %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @physician.ssn %>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
