
<%= simple_form_for(@patient) do |f| %>
    <% if current_user.patient? %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%=f.collection_select :name, User.all.select{|m| m.email == current_user.email}, :name, :name %>


    <%= f.input :adress %>
    <%= f.input :city %>
    <%=f.collection_select :state_id, State.all, :id, :state %>
    <%= f.input :zipcode %>
    <%= f.input :phone %>
    <%=f.collection_select :insurance_id, Insurance.all, :id, :name %>
    <br/>
    <%=f.collection_select :user_id, User.all.select{|m| m.email == current_user.email}, :id, :email %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<% if current_user.admin? %>

        <%= f.error_notification %>

        <div class="form-inputs">
          <%=f.collection_select :name, User.all, :name, :name %>


          <%= f.input :adress %>
          <%= f.input :city %>
          <%=f.collection_select :state_id, State.all, :id, :state %>

          <%= f.input :zipcode %>
          <%= f.input :phone %>
          <%=f.collection_select :insurance_id, Insurance.all, :id, :name %>
          <br/>
          <%=f.collection_select :user_id, User.all, :id, :email %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>
<% end %>