<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @patient.name %>
</p>
<p>
  <strong>Adress:</strong>
  <%= @patient.adress %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%=State.where(id: @patient.state_id).pluck(:state).first%>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @patient.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%=  number_to_phone(@patient.phone, area_code: true)  %>
</p>

<p>
  <strong>Insurance:</strong>

  <%=Insurance.where(id: @patient.insurance_id).pluck(:name).first%>
</p>

<p>
  <strong>User:</strong>
  <%= @patient.user_id %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
