
<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user.patient? %>
    <%= f.input :reason %>



    <div class="field">
      <%= f.label :physician_id %><br>
      <%= f.collection_select :physician_id, Physician.all, :id, :name %>
    </div>
        <% currentpatient =Patient.where(user_id: current_user.id).pluck(:id).first %>
        <%= current_user.name.to_s %>
    <%= f.hidden_field :patient_id, :value => currentpatient %>


<div  readonly='true'>

  <%= f.text_field :datetime,class:"datetimepick" %>

</div>
    <% end %>


    <% if current_user.physician? %>
        <div class="field">
          <%= f.label :diagnostic %><br>
          <%= f.collection_select :diagnostic_id, Diagnostic.all, :id, :code %>
        </div>
    <div class="field">
    <%= f.input :comment %>
    <%= f.input :done %>
      </div>
        <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">

    var daysToDisable = [0, 6];
    $('.datepicker').datepicker({dateFormat: 'yy-mm-dd',
        beforeShowDay: disableSpecificWeekDays,
        numberOfMonths: 3,
        showButtonPanel: true,
        minute_step: 30
    })


    function disableSpecificWeekDays(date) {
        var day = date.getDay();
        for (i = 0; i < daysToDisable.length; i++) {
            if ($.inArray(day, daysToDisable) != -1) {
                return [false];
            }
        }
        return [true];
    }

    function showEventDates(date) {
        date = date - new Date(date).getTimezoneOffset() * 60000; // convert local to UTC
        // for ...
    }


    $('.datetimepick').datetimepicker({
        beforeShowDay: disableSpecificWeekDays,
        format:"Y-m-d H:i",
        formatTime: 'g:i A',
        step: 30,
        minTime: '8:00 AM',
        maxTime: '5:00 PM',
        theme:'dark',
        showTimezone: true,
        timezone: '-0600'
    });


</script>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
<link rel="stylesheet" type="text/css" href="/assets/jquery.datetimepicker.css"/>
<script type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" src="/assets/jquery.datetimepicker.js"></script>