<h1>Listing appointments</h1>
<%= paginate @appointments %>
<% if current_user.patient? || current_user.physician?%>
<div class="row">

<br/>

  <br/>
  <% if current_user.patient? %>
    <% @appointments.where(patient_id: Patient.where(user_id: current_user.id).pluck(:id).first ).each do |appointment| %>


          <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
              <% if  appointment.done =="done" %>
              <div class="cnrflash">
                <div class="cnrflash-inner">

                        <span class="cnrflash-label">Completed Appointment</span>
                </div>
              </div>
                  <% end %>
              <div class="panel-heading">
                <h3 class="panel-title">Patient Name: <br/><%= appointment.patient.name %></h3>
              </div>
              <div class="panel-body">
                <div class="the-price">
                  <h1>Reason:<br/>
                    <%= appointment.reason %><span class="subscript"></span></h1>

                </div>
                <table class="table">
                  <tr><td>  Fee: <%= number_to_currency(Diagnostic.where(id: appointment.diagnostic_id).pluck(:fee).first) %> </td></tr>
                  <tr><td> Physician: <%= appointment.physician.name %> </td></tr>
                  <tr class="active"><td>Date: <%= appointment.datetime.in_time_zone("Central Time (US & Canada)") %></td></tr>
                  <tr><td>Description: <%= Diagnostic.where(id: appointment.diagnostic_id).pluck(:description).first%></td></tr>
                  <tr><td>Physician Comments: </td><td></td><%= appointment.comment %></td></tr>
                </table>
              </div>
              <div class="panel-footer">
                <% unless Diagnostic.where(id: appointment.diagnostic_id).pluck(:fee).first.nil? %>
                <td> <%= link_to 'Show', appointment,class:"btn btn-primary" ,role:"button" %></td>
<% end %>
                <br/>
                <td><%= link_to 'Edit', edit_appointment_path(appointment),class:"btn btn-primary" ,role:"button"%></td>
<br/>
                    <% if (appointment.datetime > (DateTime.current + 8.hours)) %>
                        <td> <%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary" ,role:"button" %></a></td>

                <% end %>
                </tr>

                </div>
            </div>
          </div>

  <%end%>
  <%end%>


      <% if current_user.physician?  %>

               <% @appointments.where(physician_id: Physician.where(user_id: current_user.id).pluck(:id).first ).each do |appointment| %>




            <div class="col-xs-12 col-md-3">
              <div class="panel panel-primary">
                <% if  appointment.done =="done" %>
                    <div class="cnrflash">
                      <div class="cnrflash-inner">

                        <span class="cnrflash-label">Completed Appointment</span>
                      </div>
                    </div>
                <% end %>
                <div class="panel-heading">
                  <h3 class="panel-title">Patient Name: <br/>
                    <%= appointment.patient.name %></h3>
                </div>
                <div class="panel-body">
                  <div class="the-price">
                    <h1>Reason: <br/>
                      <%= appointment.reason %><span class="subscript"></span></h1>
                  </div>
                  <table class="table">
                    <tr><td>  Fee: <%= number_to_currency(Diagnostic.where(id: appointment.diagnostic_id).pluck(:fee).first) %> </td></tr>
                    <tr><td> Physician: <%= appointment.physician.name %> </td></tr>
                    <tr class="active"><td>Date: <%= appointment.datetime.in_time_zone("Central Time (US & Canada)") %></td></tr>
                    <tr><td>Description: <br/><%= Diagnostic.where(id: appointment.diagnostic_id).pluck(:description).first%></td></tr>
                    <tr><td>Physician Comments: <%= appointment.comment %></td></tr>
                  </table>
                </div>
                <div class="panel-footer">
                  <% unless Diagnostic.where(id: appointment.diagnostic_id).pluck(:fee).first.nil? %>
                  <td> <%= link_to 'Show', appointment,class:"btn btn-primary" ,role:"button" %></td>
<% end %>
                  <br/><% if current_user.physician? %>
                   <td><%= link_to 'Edit', edit_appointment_path(appointment),class:"btn btn-primary" ,role:"button"%></td>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        <%end%>




</div>
  </div>
<br>

<% end %>
<script type="text/javascript">
    $(document).ready(function(){
        $('.filterable .btn-filter').click(function(){
            var $panel = $(this).parents('.filterable'),
                    $filters = $panel.find('.filters input'),
                    $tbody = $panel.find('.table tbody');
            if ($filters.prop('disabled') == true) {
                $filters.prop('disabled', false);
                $filters.first().focus();
            } else {
                $filters.val('').prop('disabled', true);
                $tbody.find('.no-result').remove();
                $tbody.find('tr').show();
            }
        });

        $('.filterable .filters input').keyup(function(e){
            /* Ignore tab key */
            var code = e.keyCode || e.which;
            if (code == '9') return;
            /* Useful DOM data and selectors */
            var $input = $(this),
                    inputContent = $input.val().toLowerCase(),
                    $panel = $input.parents('.filterable'),
                    column = $panel.find('.filters th').index($input.parents('th')),
                    $table = $panel.find('.table'),
                    $rows = $table.find('tbody tr');
            /* Dirtiest filter function ever ;) */
            var $filteredRows = $rows.filter(function(){
                var value = $(this).find('td').eq(column).text().toLowerCase();
                return value.indexOf(inputContent) === -1;
            });
            /* Clean previous no-result if exist */
            $table.find('tbody .no-result').remove();
            /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
            $rows.show();
            $filteredRows.hide();
            /* Prepend no-result row if all rows are filtered */
            if ($filteredRows.length === $rows.length) {
                $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
            }
        });
    });


</script>

<% if current_user.admin? || current_user.employee?%>
    <div class="row">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
          <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
          </div>
        </div>
        <table class="table">
        <thead>
        <tr class="filters">
          <th><input type="text-center" class="form-control" placeholder="Physician" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Appointment ID" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Appointment Date" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Patient" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Diagnostic_code" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Diagnostic" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Fee" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Consult fee" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Total fee" disabled></th>
          <th><input type="text-center" class="form-control" placeholder="Status" disabled></th>
        </tr>
        </thead>
        <% @appointments.where(done: "done").order(:physician_id).each do |appointment| %>


              <tbody>
              <tr>
                <td><%= appointment.physician.name %></td>
                <td><%= appointment.id %></td>
                <td><%= appointment.datetime %></td>
                <td><%= appointment.patient.name %></td>
                <td><%= Diagnostic.where(id: appointment.diagnostic_id).pluck(:code).first%></td>
                <td><%= Diagnostic.where(id: appointment.diagnostic_id).pluck(:description).first %></td>
                <td><%= number_to_currency(Diagnostic.where(id: appointment.diagnostic_id).pluck(:fee).first) %></td>
                <% consultFee=50.00%>
                <td><%= number_to_currency(consultFee)%></td>
                <td><%= number_to_currency(consultFee+Diagnostic.where(id: appointment.diagnostic_id).pluck(:fee).first)%></td>
                <td><%= appointment.done %></td>
                 <td> <%= link_to 'Show', appointment,class:"btn btn-primary" ,role:"button" %></td>
              </tr>
              </tbody>
          <% end %>
            </table>
      </div>
    </div>
<% end %>

<% if current_user.patient? %>
<%= link_to  'New Appointment', new_appointment_path ,class:"btn btn-primary" ,role:"button"%>
    <% end %>
<%= paginate @appointments %>
