<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <%= link_to 'Print',{:controller=>'appointments',:action=>'show' },{:class=>'button  tooltip',:target=>'_blank'} %>
        <h2>Invoice </h2><h3 class="pull-right">Invoice # <%= @appointment.id %></h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Billed To:</strong><br>
            <%= @appointment.patient.name%><br>
            <%= @appointment.patient.adress %><br>
            <%=State.where(id: @appointment.patient.state_id).pluck(:state).first%>
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Shipped To:</strong><br>
            <%= @appointment.patient.name%><br>
            <%= @appointment.patient.adress %><br>
            <%=State.where(id: @appointment.patient.state_id).pluck(:state).first%>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Patient Details:</strong><br>
            <%=User.where(id: @appointment.patient.user_id).pluck(:email).first%>
            <br/>
            <strong>Physician Details:</strong><br>
            <%=  @appointment.physician.name %><br>
            <%=User.where(id: @appointment.physician.user_id).pluck(:email).first%>
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Appointment Date:</strong><br>
            <%=@appointment.datetime%><br><br>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Appointment summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
              <tr>

                <td><strong>Diagnostic Code</strong></td>
                <td class="text-center"><strong> Diagnostic Description</strong></td>
                <td class="text-center"><strong> Physician Comments</strong></td>
                <td class="text-right"><strong>Diagnostic Fee</strong></td>

              </tr>
              </thead>
              <tbody>
              <!-- foreach ($order->lineItems as $line) or some such thing here -->
              <tr>
                <td><%=@appointment.diagnostic_id%></td>
                <td class="text-center"><%= Diagnostic.where(id: @appointment.diagnostic_id).pluck(:description).first%></td>
                <td class="text-center"><%= @appointment.comment %></td>
                <td class="text-right"><%= number_to_currency(Diagnostic.where(id: @appointment.diagnostic_id).pluck(:fee).first)%></td>

              </tr>
              <% consultFee=0.00%>
              <% consulttotal=consultFee %>
<% unless Diagnostic.where(id: @appointment.diagnostic_id).pluck(:fee).first.nil? %>
              <% consultFee=50.00%>
                  <% consulttotal=consultFee+Diagnostic.where(id: @appointment.diagnostic_id).pluck(:fee).first %>
                  <% end %>
              <tr>

                <td class="thick-line"></td>
                <td class="thick-line"></td>
                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                <td class="thick-line text-right"><%= number_to_currency(Diagnostic.where(id: @appointment.diagnostic_id).pluck(:fee).first)%></td>
              </tr>
              <tr>

                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-center"><strong>Consult Fee</strong></td>
                <td class="no-line text-right"><%=number_to_currency(consultFee)%></td>
              </tr>
              <tr>

                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-center"><strong>Total</strong></td>
                <td class="no-line text-right"><%= number_to_currency(consulttotal)%></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
    function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
            var y = document.getElementsByClassName(x[i]);
            for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
    }
</script>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_appointment_path(@appointment) %> | <% end %>
<%= link_to 'Back', appointments_path %>
<link rel="stylesheet" type="text/css" media="print" href="print.css">