<%# add navigation links to this file %>
<% if user_signed_in? %>


    <% if current_user.patient? %>
    <% if Patient.where(user_id: current_user.id).pluck(:id).first.nil? %>
       <li><%= link_to 'appointments', new_patient_path(@appointments) %></li>
        <% else %>
            <li><%= link_to 'appointments', appointments_path(@appointments) %></li>
          <% patientid=  Patient.where(user_id: current_user.id).pluck(:id).first.to_i  %>
            <li><%= link_to 'demographic info',  patients_path(@patients) %></li>
        <% end %>
    <% elsif current_user.physician? %>
        <% unless Physician.where(user_id: current_user.id).pluck(:id).first.nil? %>
            <li><%= link_to 'appointments', appointments_path(@appointments) %></li>
            <li><%= link_to 'demographic info',  physicians_path(@physicians) %></li>
        <% end %>

    <% elsif current_user.employee? %>
      <% unless Employee.where(user_id: current_user.id).pluck(:id).first.nil? %>
                <li><%= link_to 'appointments', appointments_path(@appointments) %></li>
                <li><%= link_to 'demographic info',  employees_path(@employees) %></li>
        <% end %>

    <% end %>

  <li><%= link_to 'Edit account', edit_user_registration_path ,class:'pull-right'%></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>

    <li><%= current_user.name %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'appointments', appointments_path(@appointments) %></li>
        <li><%= link_to 'patients', patients_path(@patients) %></li>
        <li><%= link_to 'physicians', physicians_path(@physicians) %></li>
        <li><%= link_to 'employees', employees_path(@employees) %></li>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
